header
{
    padding : 5px 10px;
    align:center;
    width:70%;
    top:5px;
    background-color:steelblue;
    margin-left: 15%;
}

#tableHead
{
    font-size:13px;
    font-family:calibri;
}

#mainHeading
{
    color:white;
    font-family:Courier New;
    font-size : 20px;
    align:center;
}

#subHeading
{
    font-size : 15px;
    font-family: helvetica;
    font-style:lighter;
    color:white;
}
td.oddLine
{
    font-style:arial;
    font-weight:bold;
    font-size:8px;
    background-color:skyblue;
}

td.evenLine
{
    font-style:arial;
    font-weight:bold;
    font-size:8px;
    background-color:lightblue;
}

p
{
    color:green;
    align: justify;
    font-family: verdana;
    font-size: 9px;
    font-weight : bold;
}

td
{
    background-color:powderblue;
    font-size : 14px;
}

div.links
{
    padding : 20px 25px;
}

td.oddLink
{
    background-color:lightgray;
}

td.evenLink
{
    background-color:white;
}

footer
{
    color:black;
    position:fixed;
    background-color:powderblue;
    width:100%;
    bottom:35px;
    font-size: 11px;
}