header
{
    padding : 5px 10px;
    align:center;
    width:70%;
    top:5px;
    background-color:steelblue;
    margin-left: 15%;
}

table{
margin-left:auto;
margin-right:auto;
}

#tableHead
{
    font-size:13px;
    font-family:calibri;
    text-align:center;
}

#mainHeading
{
    color:white;
    font-family:Courier New;
    font-size : 20px;
    text-align:center;
}

#subHeading
{
    font-size : 15px;
    font-family: helvetica;
    font-style:lighter;
    color:white;
    text-align:center;
}

#notifications
{
    width: 28%;
    height: 100%;
    float:left;
}

#courses
{
    width: 72%;
    height: 100%;
    float:right;
}

table.course
{
    width:90%;
    align-table:center;
}

.oddLine
{
    font-style:arial;
    font-weight:bold;
    font-size:8px;
    background-color:skyblue;
}

.evenLine
{
    font-style:arial;
    font-weight:bold;
    font-size:8px;
    background-color:lightblue;
}

.notification
{
    color:green;
    align: justify;
    font-family: verdana;
    font-size: 9px;
    font-weight : bold;
}

td
{
    background-color:powderblue;
    font-size : 14px;
    text-align:center;
}

links
{
    padding : 20px 25px;
    width:95%;
    height:90%;
}

.content
{
    height:372px;
    overflow:auto;
    width: 72%;
    float:right;
}

.studentDetails .row1-3
{
    width:100px;
}

.studentDetails .row2
{
    width:200px;
}

.studentDetails .row4
{
    width:120px;
}

.studentGrades .row1
{
    width:100px;
}

.studentGrades .row2
{
    width:300px;
}

.studentGrades .row3-4
{
    width:60px;
}

.gradeRules .row1
{
    width:155px;
}

.gradeRules .row2
{
    width:100px;
}

.gradeRules .row3
{
    width:35px;
}

.oddLink
{
    background-color:lightgray;
    text-align:center;
}

.evenLink
{
    background-color:white;
    align:center;
}
button
{
    display: block;
    margin: auto;
    padding:2px 6px;
    text-align:center;
    font-size:8px;
}

#note
{
    color:red;
    font-size:5px;
    text-align:center;
}

footer
{
    color:black;
    position:fixed;
    background-color:powderblue;
    width:100%;
    bottom:35px;
    font-size: 11px;
    text-align:center;
}